.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Căn giữa màn hình */
  background-color: #fff;
}

.auth-container {
  width: 400px;
  padding: 40px;
  text-align: center;
}

.auth-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.auth-subtitle {
  color: #6e6e73;
  margin-bottom: 30px;
}

.auth-input {
  width: 100%;
  padding: 18px;
  margin-bottom: 15px;
  border: 1px solid #d2d2d7;
  border-radius: 12px;
  font-size: 17px;
  outline: none;
}

.auth-input:focus {
  border-color: #0071e3;
  box-shadow: 0 0 0 4px rgba(0,113,227,0.1);
}

.btn-auth {
  width: 100%;
  padding: 18px;
  background-color: #0071e3;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.btn-auth:hover {
  background-color: #0077ed;
}

.toggle-text {
  margin-top: 25px;
  font-size: 14px;
}

.toggle-link {
  color: #0071e3;
  cursor: pointer;
  font-weight: 500;
}

.error-msg {
  color: red;
  background: #ffe5e5;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
}